@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;

  --dark-color: #2F3E46;
  --medium-color: #52796f;
  --light-color: #84a98c;

}